/* USER NAV ON LEFT */
.userNav{
  width: var(--leftWidth);
  /* position: fixed; */
  top: 0px;
  left: 0px;
  padding: 0px;
  overflow: hidden;
  z-index: 99;
  background-color: white;
  border: none;
  /* height: 100%; */
}
.userNav>ul{
  margin: 0px;
  padding: 10px 20px;
  position: fixed;
}

.userNav>button{
  position: fixed;
  bottom: 10px;

}

.userNav>ul>li{
  /* display: grid;
  grid-template-columns: 20px 100px;
  scale: 1.2; */
  display: flex;
  flex-shrink: 1;
  text-align: left;
  margin: 20px 10px;
  gap: 15px;
}

h3{
margin: 0px;
font-weight: 400;
}
.user{
  display: none;
}

@media (max-width: 900px) {
.userNav>ul>li>h3{
  display: none;

}
.userNav>ul>li{
  margin: 20px 0px;
}
.userNav{
  width: 50px;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}
/* user button on bottom left */
.user{
  display:inline;
  background-color: white;
  border-radius: 30px;
  width: 30px;
}
}