:root{
  --userTweetInputWidth: 400px;
  --border: 1px solid grey;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
  border-left: var(--border);
  border-right: var(--border);

}
.content{
  min-width: 550px
}
/* top form section */
.tweetform{
  margin: 0px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  background-color: white;
}
textarea{
  min-height: 50px;
  min-width: 80%;
}

/* for img file picker */
input[type="file"] {
display: none;
}


.material-icons{
outline: none;
border: none;
background-color: white;
}

button{
  width: 100px;
}


#userform>input[type="submit"]{
  background-color: white;
  background-color: lightblue;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bolder;
  width: 100px;

}


/* TWEETS  */
.tweet{
  background-color: white;
  width: 100%;
  padding: 10px;
  outline: var(--border);
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}
h2{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
.tweet>.tweetuser{
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.tweet>img{
  margin: 5px 0px;
  border-radius: 20px;
  border: 1px solid grey;
}
.tweet>span{
  width: 80%;
  text-align: left;
}


/* media queries */

@media (max-width: 900px) {
  textarea{
    min-width: 70%;
  }
  .content{
    /* align-items: flex-start; */
  }
 
  .content>form{
    width: var(--userTweetInputWidth);
    display: flex;
    flex-direction: column;
    min-width:  var(--userTweetInputWidth);
  }
  
  }

  @media (max-width: 800px) {
    :root{
      --userTweetInputWidth: clamp(450px,90%,100%);
    }
    main{
      border-right: 1px solid black;
    }
    .searchNav{
      display: none;
     }
    .tweet,form{
      min-width: 95%;
    }
    .userNav{
      flex-grow: unset;
      flex-shrink: unset;
      width: 50px;
    }
  }
  @media (max-width: 600px) {
    
 
    .content{
    outline: none;
    border: 1px solid black;
    border-right: none;
    border-top: none;
      max-width: 90%;
        min-width: 450px;
    }
   
    }

    #loader{
       /* display: flex;
       justify-content: center;
       align-items: center;
        */
      border: 1rem solid black;
      border-radius: 50%;
      border-top: 1rem solid white;
      width: 3rem;
      height: 3rem;
      animation: spin 2s linear infinite
    }
    /* keyframe */
    @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  
  }
  