:root{
  --userTweetInputWidth: 400px;
  --border: 1px solid grey;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
min-height: 100vh;
  border-left: var(--border);
  border-right: var(--border);

}
.content{
  min-width: 550px
}
/* top form section */
.tweetform{
  margin: 0px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90%;
  background-color: white;
}
textarea{
  min-height: 50px;
  min-width: 80%;
}

/* for img file picker */
input[type="file"] {
display: none;
}



/* right side button */
.searchNav>div>button{
  width: 100px;
}


.tweetform>input[type="submit"],.minireply>input[type="submit"]{
  background-color: white;
  background-color: lightblue;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bolder;
  width: 100px;

}


/* TWEETS  */
.tweet>a{
  width: 90%;
  text-decoration: none;
  display:block;
  color: black;
}
.tweet{
  background-color: white;
  width: 100%;
  padding: 10px;
  outline: var(--border);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tweet:hover{
  background-color: rgb(245, 245, 245);
}
h2{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
.tweet>a>.tweetuser{
  align-items: center;
  justify-content: space-between;
}
.tweet>a>img{
  margin: 5px 0px;
  border-radius: 20px;
  border: 1px solid grey;
}
.tweet>a{
  display: flex;
  flex-direction: column;
}
.tweet>a>span{
  width: 80%;
  display: block;
  padding: 0px 20px;

  text-align: left;
}

.tweetbuttons{
  position: relative;
  display: flex;
  margin: 2px;
  justify-content: space-around;
  align-items: center;
  width: 95%;
}
.tweetbutton{
  padding: 0px;
  margin: 0px;
  width: 20px;
  background-color: unset;
  height: 100%;
  
}
.tweetbutton>.material-icons{
  font-size: 20px;
  color: black;
}
.tweetbutton>span{
  display: flex;
  align-items: center;
  justify-content: center;
}
button>span{
  width: 30px;
  height: 30px;
}
.userhandle{
  
}
/* button  */
.tweetform>.flexcol>.material-icons:hover{
  background-color: rgb(217, 245, 255);
  border: 5px solid rgb(223, 247, 255);
  border-radius: 50%;
  color: black;
}
.material-icons:hover{
  color: rgb(255, 255, 255);
 
}
button>span:hover{
  background-color: rgb(132, 191, 211);
  border-radius: 50%;
}

/* Links Profile */
.tweetuser>a{
  text-decoration: none;
}
.userhandle{
  color: grey;
}
.tweetuser>a>h2{
  color: black;
  font-size: 15px;
}


/* PROFILE PIC */
.profilePic{
  border-radius: 50%;
  vertical-align:middle;  
  margin-right: 10px;
}
/* media queries */

@media (max-width: 900px) {
  textarea{
    min-width: 70%;
  }
  .content{
    /* align-items: flex-start; */
  }
 
  .content>form{
    width: var(--userTweetInputWidth);
    display: flex;
    flex-direction: column;
    min-width:  var(--userTweetInputWidth);
  }
  
  }

  @media (max-width: 800px) {
    :root{
      --userTweetInputWidth: clamp(450px,90%,100%);
    }
    main{
      border-right: 1px solid black;
    }
    .searchNav{
      display: none;
     }
    .content>.tweet,.content>form{
      min-width: 95%;
    }
    .userNav{
      flex-grow: unset;
      flex-shrink: unset;
      width: 50px;
    }
  }
  @media (max-width: 600px) {
    #userform{
      padding-top: 50px;
    }
    
    .content{
    outline: none;
    border: 1px solid black;
    border-right: none;
    border-top: none;
      max-width: 90%;
        min-width: 450px;
    }
   
    }

    #loader{
       /* display: flex;
       justify-content: center;
       align-items: center;
        */
      border: 1rem solid black;
      border-radius: 50%;
      border-top: 1rem solid white;
      width: 3rem;
      height: 3rem;
      animation: spin 2s linear infinite
    }
    /* keyframe */
    @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  
  }
  