:root{
  --userTweetInputWidth: 400px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
}
form{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90%;
}
textarea{
  min-height: 50px;
  min-width: 40%;
}
nav{
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100vh;
  padding: 50px;
}

input[type="file"] {
display: none;
}


.material-icons{
outline: none;
border: none;
background-color: white;
}

button{
  width: 100px;
}

.content{
  min-width: 450px
}
#userform>input[type="submit"]{
  background-color: white;
  background-color: lightblue;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bolder;
  width: 100px;

}

.tweet{
  background-color: white;
  width: 100%;
  border: 2px solid black;
  border-left: 1px solid black;
  border-bottom: 0px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tweet>.tweetuser{
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 900px) {
  textarea{
    min-width: 70%;
  }
  .content{
    align-items: flex-start;
  }
 
  .content>form{
    width: var(--userTweetInputWidth);
    display: flex;
    flex-direction: column;
    min-width:  var(--userTweetInputWidth);
  }
  }

  @media (max-width: 800px) {
    :root{
      --userTweetInputWidth: clamp(450px,90%,100%);
    }
    .searchNav{
      display: none;
     }
    .tweet,form{
      min-width: 95%;
    }
  }
  @media (max-width: 600px) {
    
 
    .content{
      max-width: 550px;
    }
   
    .content>form{
    }
  
    }