.searchNav{
  /* position: fixed; */
  padding: 0px;
  width: var(--rightWidth);
  right: 0px
}
.searchNav>*{
  position: fixed;
}
input[type="text"]{
  max-width: 160px;
  padding: 9px 30px;
  border-radius: 30px;
  border: 1px solid black;
}
button{
  margin: 10px;
}

#searchbar{
  position: relative;
  left: 30px;
  top: 8px;
  background-color:unset;
}
label{
  position: relative;
}