:root{
  --leftWidth: 230px;
  --rightWidth: 250px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


li{
  list-style: none;
}

.App{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;

}


button{
  background-color: white;
  background-color: lightblue;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: bolder;
  

}


/* HELPER class */

.flexcol{
  display: flex;
  flex-direction: column;
}

.flexrow{
  display: flex;
  flex-direction: row;
}